.app {
  text-align: center;
}

.app__nav-list {
  list-style: none;
  padding: 0;
}

.app__nav-list-item {
  display: inline-block;
  margin-right: 1em;
}

.app__nav-list-link {
  text-decoration: none;
  color: black;
}

.app__nav-list-link.active {
  font-size: 30px;
}
